In [8]:
######################  .docx -> .txt (table)  ############################

docx_file = "DOC/chessResultsList.docx"   ##  INPUT
filename = 'Chess_result.txt'             ##  OUTPUT



from docx import Document
import os
from PIL import Image
from io import BytesIO

def extract_docx_content(file_path):
    # Открываем документ
    doc = Document(file_path)
    
    # Извлекаем текст
    text = []
    for paragraph in doc.paragraphs:
        ttt = paragraph.text
        text.append(paragraph.text)
    
    # Извлекаем таблицы
    tables = []
    for table in doc.tables:
        table_data = []
        for row in table.rows:
            row_data = [cell.text for cell in row.cells]
            table_data.append(row_data)
        tables.append(table_data)
    
    # Извлекаем изображения
    images = []
    rels = doc.part.rels
    for rel in rels.values():
        if "image" in rel.target_ref:
            img_data = rel.target_part.blob
            images.append(Image.open(BytesIO(img_data)))
    
    return text, tables, images





text, tables, images = extract_docx_content(docx_file)

# Печать таблиц

file = open(filename, 'w')

for i, table in enumerate(tables):
    print(f"Таблица {i+1}:", file = file)
    for row in table:
#        print(row[1:], file = file)
        print(row, file = file)
file.close()

print('End Program')

End Program

In [11]:
#################  main ###################

filename = 'Chess_result.txt'             ##  INPUT
# df - OUTPUT

import ast
import pandas as pd

def read_lines_from_file(filename, start, end):
    try:
        with open(filename, 'r', encoding='utf-8') as file:
            lines = file.readlines()
            return lines[start-1:end]  # Номера строк приводятся к индексации с 0
    except FileNotFoundError:
        print(f"Файл {filename} не найден.")
        return []
    except IndexError:
        print("Некорректные значения start или end.")
        return []


def find_line_with_text(filename, search_text):
    try:
        with open(filename, 'r', encoding='utf-8') as file:
            for i, line in enumerate(file, start=1):  # Нумерация строк с 1
                if search_text in line:
                    return i
        return None  # Если текст не найден
    except FileNotFoundError:
        print(f"Файл {filename} не найден.")
        return None

def stroka_v_spisok(input_str):
    # Преобразование строки в список
    try:
        result_list = ast.literal_eval(input_str)
    #    print(result_list)
    except (ValueError, SyntaxError):
        print("Ошибка: Некорректный формат строки.")
    return result_list

def convert_value(value):
    if value == None:
        return None
    try:
        return int(value)  # Сначала пытаемся преобразовать в int
    except ValueError:
        try:
            return float(value)  # Если не удалось, пытаемся преобразовать в float
        except ValueError:
            return value  # Если не удалось, возвращаем значение как есть

def dob_sprava(df1, df2):
    return pd.concat([df1, df2], axis=1)

def dob_snizu(df1, df2):
    return pd.concat([df1, df2], axis=0, ignore_index=True)

def ubrat_kol(df, list_col):
    return df.drop(df.columns[list_col], axis=1)




for no in range(1, 2):
    no_tab = ' ' + str(no)
    search_text = "Таблица" + str(no_tab) + ":"

    No = find_line_with_text(filename, search_text)
    No_header = No + 1

    start = No_header  # Начальная строка (включительно)
    end = No_header + 450   # Конечная строка (включительно)

    Spisok = []
    lines = read_lines_from_file(filename, start, end)
    for line in lines:
        spisok = stroka_v_spisok(line)
        Spisok.append(spisok)

    df = pd.DataFrame(Spisok[1:], columns=Spisok[0])
    df = df.map(convert_value)

In [12]:
df

,Rk.,SNo,,,Name,FED,Rtg,Pts.,TB1,TB2,TB3,Rp
0,1,59,,GM,"Murzin, Volodar",FID,2588,10,"100,5",107,2695,2881
1,2,20,,GM,"Grischuk, Alexander",FID,2675,"9,5","96,5",101,2588,2749
2,3,5,,GM,"Nepomniachtchi, Ian",FID,2758,"9,5",91,"96,5",2591,2753
3,4,14,,GM,"Dominguez Perez, Leinier",USA,2699,9,"101,5",108,2619,2747
4,5,16,,GM,"Erigaisi, Arjun",IND,2694,9,"97,5","101,5",2644,2773
...,...,...,...,...,...,...,...,...,...,...,...,...
175,176,82,,GM,"Dlugy, Maxim",USA,2538,3,61,64,2435,2283
176,177,163,,FM,"Larrea, Manuel",URU,2254,3,"58,5","61,5",2296,2039
177,178,176,,CM,"Meylan, Andre",MNC,2083,3,"57,5","60,5",2341,2081
178,179,180,,,"Wong, Hayoung",KOR,1704,3,55,58,2273,2028
179,180,179,,,"Ahmed, Nidal",PLE,1827,1,"47,5","48,5",2406,1977

In [13]:
df.to_csv('df180.csv')